sudo: false
language: python
python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"
  - "nightly"
  - "pypy3"
matrix:
  allow_failures:
    - python: "nightly"
    - python: "pypy3"
install: pip3 install -U pytest pytest-runner
script: python3 setup.py pytest
