# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: Upload Python Package

on:
  release:
    types: [created]

jobs:
  deploy:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

    - name: Set up Python
      uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5.5.0
      with:
        python-version: '3.8'

    - name: Install sphinx toolset
      run: >-
        python -m
        pip install
        sphinx
        sphinx-argparse
        --user

    - name: Install tldr dependencies
      run: >-
        python -m
        pip install
        -r
        requirements.txt
        --user

    - name: Generate the manpage
      working-directory: docs
      run: make man

    - name: Install pep517
      run: >-
        python -m
        pip install
        pep517
        --user

    - name: Build a binary wheel and a source tarball
      run: >-
        python -m
        pep517.build
        --source
        --binary
        --out-dir dist/
        .

    - name: Publish package
      uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
      with:
        user: __token__
        password: ${{ secrets.PYPI_PASSWORD }}
